[Unit]
Description=Daemon for Sleepy

[Service]
User=root
WorkingDirectory=/opt/sleepy-daemon
ExecStart=./service-linux.sh &
Restart=always

[Install]
WantedBy=multi-user.target